.book-container {
  display: flex;
  border: 1px solid #e8e8e8;
  padding: 2rem 1.6rem;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

.books-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'RobotoSlab', sans-serif;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #888;
  padding-bottom: 0.25rem;
}

.author {
  color: #4386bf;
  font-weight: 300;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 1.3rem;
}

.book-buttons {
  border: none;
  background-color: transparent;
  color: #4386bf;
  font-size: 0.95rem;
}

.button-divider {
  color: #e8e8e8;
}

.map-container {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.span {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#sixty4 {
  font-size: 2rem;
}

.completed {
  color: #121212;
  opacity: 0.5;
}

.chapter-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.chapter {
  font-size: 0.813rem;
}

.current-chapter {
  font-weight: 300;
  font-style: normal;
}

.chapter-button {
  color: white;
  border: none;
  background-color: #0290ff;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.813rem;
  margin-top: 1.4rem;
}
